@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-oyster-bay: #d5eaec;
  --color-oyster-bay-light: #f1f8f9;
  --color-oyster-bay-dark: #aabbbd;
  --color-secondary: #fcb08c;
  --color-secondary-dark: #fcb08c;
  --color-secondary-light: #fce0d4;
  --color-background-gray: #eaeeef;
  --color-tink-dark-gray: #7a8c8c;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif !important;
  color: black;
  letter-spacing: 0.02rem!important;
}
body {
  min-height: 100%;
}

.noscroll {
  overflow: hidden;
}



.nextinput div {
  border-radius: 0px !important;
}

.ant-breadcrumb li {
  display: inline;
}

@media only screen and (min-width: 768px) {
}

input {
  border-color: #2f2e2e !important;
  font-family: "Playfair Display", serif !important;
}

input:focus {
  border-color: #2f2e2e !important;
  border-width: 2px !important;
}

* {
  box-sizing: border-box !important;
}
.pac-container {
  z-index: 4000!important;
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

  background-image: none !important;
  height: 0px;
}

.pac-icon {
  display: none !important;
}

/* input {
  border-radius: 0 !important;
} */

.content {
  padding: 20px !important;
  background-color: #ececec !important;
}

label {
  font-family: "Playfair Display", serif !important;
}

.title,
p {
  font-family: "Playfair Display", serif !important;
}

.ui .item {
  font-family: "Playfair Display", serif !important;
}

.ui.tabular.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none !important;
  color: black !important;
}

a.item {
  background-color: #f7f7f7 !important;
}
a.item.active {
  background-color: white !important;
}

/* Mobile Map Properties */
.mobile-map-properties .ui.attached.ui.tabular.menu {
  background-color: #f7f7f7;
}
.mobile-map-properties a.item {
  padding: 0.92em 1em !important;
}

.hanger-type-card i.icon {
  transform: scale(0);
}

.contact-wrapper {
  background-image: url("https://static.wixstatic.com/media/f61af8_e43a10081f754bd399d82f5c16b96f9b~mv2.png/v1/fill/w_297,h_800,al_c,q_85,enc_auto/f61af8_e43a10081f754bd399d82f5c16b96f9b~mv2.png");
}

p {
  margin: 0 !important;
}



/* Product.js */
.product-image-wrapper{

    height: clamp(378px, 65vw, 600px);
    position: relative;
    overflow: hidden;
    display: flex;
}
